:root{
    --themeColor: #4B0082;
    --backgroundImageColor: #663399;
    --boxShadow: #00000040;
    --placeHolderColor:#00000070;
  }
.search-bar {
  max-width: 30vw;
  min-width: 20vw;
  width: 80%;
  border: none;
  padding: 12px;
  box-shadow: 0 0 5px 0 #00000040;
  border-radius: 20px;
}

.search-bar::placeholder {
  color: #00000070;
}

.search-button {
  background-image: linear-gradient(to right, #663399 0%, #663399 19%, #663399 60%, #663399 100%);
  border: 1px solid #4B0082;
  padding: 12px 15px;
  color: white;
  box-shadow: 0 0 5px 0 #00000040;
  border-radius: 20px;
  position: relative;
  right: 43px;
  top: -1px;
  cursor: pointer;
}

.search-bar:focus,
.search-bar:hover {
  box-shadow: 0 0 5px 2px #00000040;
  outline: none;
}

.search-button:focus {
  outline: none;
}
