* {
  box-sizing: border-box;
}

html {
  border: 15px solid #4B0082;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  background: white;
}

.header {
  text-align: center;
  padding: 20px 40px 60px 40px;
}
.header label{
  color: #4B0082;
  padding-left: 50px;
  margin-top: 13px;
  font-weight: 50;
  font-size: 1.5rem;
}
.title {
  color: #4B0082;
  font-weight: 200;
  font-size: 3rem;
}
.total-course{
  color: #4B0082;
  font-weight: 50;
  font-size: 2rem;
}
.search-form {
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.courses{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.search-filter {
  max-width: 500px;
  margin: 0 auto;
}
.btn-sort{
  background-color:#663399;
  border-radius: 20px;
  border: none;
  color: white;
  margin-top: 13px;
  margin-left: -20px;
  outline: none !important;
}
.filter-sort-course{
  display: flex;
  flex-flow: row;
  position: absolute;
  left: 20%;
}
