.course {
  border-radius: 60px;
  padding: 20px 0;
  margin: 20px;
  width: 400px;
  box-shadow: 8px 5px 5px 2px #9e9c9c26;
  letter-spacing: 1px;
  border: 1px solid #80808024;
}

.course:hover,
.course:active {
  transform: scale(1.02);
  transition: transform 200ms ease-in-out;
}

.course_title {
  text-align: center;
  font-size: 1.6rem;
  color: #565656;
}

.course h4 {
  margin: 0;
  padding: 10px 20px 0px 50px;
  color: #565656;
  font-size: 1rem;
}
.calories {
  text-align: center;
}
.button {
    display: block;
    width: 12rem;
    height: 2.5rem;
    background: #4B0082;
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 2rem;
    margin-left: 7rem;
    color: white;
    font-weight: bold;
}

.course-details {
  list-style-type: none;
  padding: 10px 20px 0px 50px;
}
.schedule {
  padding: 5px 0;
  line-height: 1.4rem;
}
.schedule i {
  color: #4B0082;
}
.apply-link{
    text-decoration: none;
    color: #4B0082;
}
