:root{
  --themeColor:#4B0082;
  --shadowColor:#9e9c9c26;
  --borserColor:#80808024;
  --courseCardTitleColor:#565656;
  --backgroundColor:#ffffff;
}
.course {
  border-radius: 60px;
  padding: 20px 0;
  margin: 20px;
  width: 400px;
  box-shadow: 8px 5px 5px 2px var(--shadowColor);
  letter-spacing: 1px;
  border: 1px solid var(--courseCardTitleColor);
}

.course:hover,
.course:active {
  transform: scale(1.02);
  transition: transform 200ms ease-in-out;
}

.course_title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--courseCardTitleColor);
}

.course h4 {
  margin: 0;
  padding: 10px 20px 0px 50px;
  color: var(--courseCardTitleColor);
  font-size: 1rem;
}
.calories {
  text-align: center;
}
.button {
    display: block;
    width: 12rem;
    height: 2.5rem;
    background:var(--themeColor);
    padding: 10px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 2rem;
    margin-left: 7rem;
    color: var(--backgroundColor);
    font-weight: bold;
}

.course-details {
  list-style-type: none;
  padding: 10px 20px 0px 50px;
}
.schedule {
  padding: 5px 0;
  line-height: 1.4rem;
}
.schedule i {
  color: var(--themeColor);
}
.apply-link{
    text-decoration: none;
    color: var(--themeColor);
}
